.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn

# Environment variables
.env
.env.local
.env.*.local

# Backend
backend/models/*
!backend/models/.gitkeep
backend/.env

# Frontend
frontend/.next
frontend/out
frontend/.env.local

# Arweave wallet
*-wallet.json
*.json.key
